#homepage {
  border: 2px solid red;
  height: 100vh;
  width: 100%;
  padding: 5rem 15rem;
}

#center-container {
  border: 2px solid purple;
  height: 90vh;
  overflow: hidden;
}

#banner {
  border: 2px solid green;
  height: 30vh;
}

#featured-container {
  border: 2px solid blue;
  height: 60vh;
}
