#homepage {
  height: 100%;
  width: 100%;
  padding: 5rem 15rem;
}

#center-container {
  height: 100%;
  overflow: hidden;
  margin-top: 5rem;
}

#banner {
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide images by default */
.banner-images {
  display: none;
}

.img-width {
  width: 100%;
}
