.deleteProductContainer {
    border: 2px solid black;
    width: 60%;
    margin: auto;
    margin-top: 4em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.deleteProductTitle {
    font-weight: 700;
}

.deleteProductBtn {
    width: 30%;
    background-color: rgba(211, 211, 211, 0.6);
    padding: 0.5em;
}

.deleteProductBtn:hover {
    background-color: white;
}